extends includes/layouts/Layout.pug

block pages 
    .download 
        .container 
            .row 
                .col-lg-5.col-md.col-sm.download-details 
                    .download-details-images 
                        img(src="./assets/images/iphone12pro.png", alt="")
                .col-lg-7.col-md.col-sm.dowload-details 
                    .download-details-content 
                        .content-title 
                            p.title Tải Xuống 
                            h2.title1 LAN TỎA GIÁ TRỊ THỰC ĐẾN CỘNG ĐỒNG CỦA BẠN 
                            p.title2 Giới thiệu bạn bè, nhận thưởng hấp dẫn và lan tỏa giá trị thực đến cộng đồng của bạn với các sản phẩm chất lượng tại Shopdi
                        .content-app 
                            .content-app-button
                                .img
                                    img(src="./assets/images/ggplay.png" alt="")
                                .content
                                    p.title3 Get it on
                                    span.title4 Google Play
                            .content-app-button
                                .img
                                    img(src="./assets/images/apple.png" alt="")
                                .content
                                    p.title3 Download on the
                                    span.title4 App Store