extends includes/layouts/Layout.pug

block pages
 section.banner
  .container.horizon-center
   .row.horizon-center
    .banner__left.col-lg-7
      h1.banner__title.text-capitalize
       |shopdi connect
      p.banner__text
       |Từ ngày 01/09/2022, nhận ngay lợi nhuận không giới hạn khi giới thiệu thành công người dùng tải ứng dụng Shopdi. Giới thiệu bạn bè, nhận thưởng hấp dẫn và lan tỏa giá trị thực đến cộng đồng của bạn
      .banner__text-sm
       p.banner__text-sm-p1.text-capitalize
        | Lợi nhuận khủng không giới hạn !
       p.banner__text-sm-p2.text-capitalize
        | Nhận ngay lợi nhuận lên tới 25% không giới hạn khi giới thiệu thành công người dùng click xem giá bí mật và giá giảm không giới hạn tại Shopdi. Giới thiệu càng nhiều, thu nhập càng khủng
      a(href="#").banner__btn.text-uppercase
       |trở thành shopi connector ngay !
    .banner__right.col-lg-5
     .banner__right-imgWraper
      img(src="./assets/images/banner_ico.png" alt="shopdi_ico_banner")
     
 section.connector
  .container
   .connector__top.d-flex.flex-column.justify-content-center.align-items-center
    span.connector__top-titlesm.text-uppercase
     |lợi ích
    p.connector__top-titlelg
     | Tại sao bạn nên trở thành một
    p.connector__top-titlelg.--bold
     |Shopdi Connector
   .connector__bottom.flex-column.d-flex
    .connector__bottom-item.d-flex.row
     .bottom__item-left.col-lg-7
      span  Giá trị thực cho cộng đồng của bạn
      p Shopdi là nền tảng Thương mại Điện tử Thế hệ Mới dành riêng cho sản phẩm cao cấp và sản phẩm phiên bản giới hạn. Thông qua cơ chế giá bí mật, giá bán của các sản phẩm trên Shopdi được quyết định bởi số lượng người quan tâm. Các sản phẩm được bán trên nền tảng thương mại điện tử Shopdi là hàng sản xuất chính hãng.
     .bottom__item-right.col-lg-5
      img(src="./assets/images/connect-ico1.png" alt="connect_ico")
    .connector__bottom-item.d-flex.row
     .bottom__item-left.col-lg-7.order-2
      span  Lợi nhuận hấp dẫn
      p Nhận ngay lợi nhuận không giới hạn khi giới thiệu thành công người dùng click xem giá bí mật và giá giảm không giới hạn tại Shopdi. Giới thiệu càng nhiều, thu nhập càng khủng.
     .bottom__item-right.col-lg-5.order-1
      img(src="./assets/images/connect-ico2.png" alt="connect_ico")
    .connector__bottom-item.d-flex.row
     .bottom__item-left.col-lg-7
      span  Nhiều phần thưởng hơn
      p  Nhận giải thưởng lên đến 30 triệu đồng mỗi tháng khi tham gia vào các chương trình đường đua 
      p  Tham gia các sự kiện độc quyền dành cho các Shopdi Connectors với nhiều phần quà hấp dẫn.
     .bottom__item-right.col-lg-5
      img(src="./assets/images/connect-ico3.png" alt="connect_ico")
     
   
    
   