extends includes/layouts/Layout.pug

block pages
    section.benefit
        .benefit-title 
            .container 
                .benefit-title-details 
                    h1 Lợi Ích 
                    h2 Tại Sao Bạn Nên Trở Thành một 
                    span Shopdi Connector
        .benefit-info 
            .container 
                .row.custom 
                    .col-lg-7 
                        .benefit-info-details 
                        
                            p Giá Trị Thực Cho Cộng Đồng Của Bạn 
                            p  Shopdi l&agrave; n&#x1EC1;n t&#x1EA3;ng Th&#x1B0;&#x1A1;ng m&#x1EA1;i &Dstrok;i&#x1EC7;n t&#x1EED; Th&#x1EBF; h&#x1EC7; M&#x1EDB;i d&agrave;nh ri&ecirc;ng cho s&#x1EA3;n ph&#x1EA9;m cao c&#x1EA5;p v&agrave; s&#x1EA3;n ph&#x1EA9;m phi&ecirc;n b&#x1EA3;n gi&#x1EDB;i h&#x1EA1;n. Th&ocirc;ng qua c&#x1A1; ch&#x1EBF; gi&aacute; b&iacute; m&#x1EAD;t, gi&aacute; b&aacute;n c&#x1EE7;a c&aacute;c s&#x1EA3;n ph&#x1EA9;m tr&ecirc;n Shopdi &dstrok;&#x1B0;&#x1EE3;c quy&#x1EBF;t &dstrok;&#x1ECB;nh b&#x1EDF;i s&#x1ED1; l&#x1B0;&#x1EE3;ng ng&#x1B0;&#x1EDD;i quan t&acirc;m. C&aacute;c s&#x1EA3;n ph&#x1EA9;m &dstrok;&#x1B0;&#x1EE3;c b&aacute;n tr&ecirc;n n&#x1EC1;n t&#x1EA3;ng th&#x1B0;&#x1A1;ng m&#x1EA1;i &dstrok;i&#x1EC7;n t&#x1EED; Shopdi l&agrave; h&agrave;ng s&#x1EA3;n xu&#x1EA5;t ch&iacute;nh h&atilde;ng.

                    
                    .col-lg-5 
                        .benefit-info-picture 
                            img(src="./assets/images/img1.png", alt="")
                    .col-lg-7 
                        .benefit-info-picture 
                            img(src="./assets/images/img2.png", alt="")
                        
                    .col-lg-5 
                        .benefit-info-details 
                        
                            p Lợi Nhuận Hấp Dẫn 
                            p | Nh&#x1EAD;n ngay l&#x1EE3;i nhu&#x1EAD;n kh&ocirc;ng gi&#x1EDB;i h&#x1EA1;n khi gi&#x1EDB;i thi&#x1EC7;u th&agrave;nh c&ocirc;ng ng&#x1B0;&#x1EDD;i d&ugrave;ng click xem gi&aacute; b&iacute; m&#x1EAD;t v&agrave; gi&aacute; gi&#x1EA3;m kh&ocirc;ng gi&#x1EDB;i h&#x1EA1;n t&#x1EA1;i Shopdi. Gi&#x1EDB;i thi&#x1EC7;u c&agrave;ng nhi&#x1EC1;u, thu nh&#x1EAD;p c&agrave;ng kh&#x1EE7;ng.

                    
                    .col-lg-7 
                        .benefit-info-details 
                        
                            p Giá Trị Thực Cho Cộng Đồng Của Bạn 
                            .details-rights
                                span 
                                    img(src="./assets/images/bullet.png", alt="")
                                p Nhận giải thưởng lên đến 30 triệu đồng mỗi tháng khi tham gia vào các chương trình đường đua F1.
                            .details-rights
                                span
                                    img(src="./assets/images/bullet.png")
                                p Tham gia các sự kiện độc quyền dành cho các Shopdi Connectors với nhiều phần quà hấp dẫn.
                            
                    
                    .col-lg-5 
                        .benefit-info-picture 
                            img(src="./assets/images/img3.png", alt="")
    section.policy 
        .container 
            .policy-details 
                .row 
                    .col-lg-6
                        .policy-details-title 
                            p Chính Sách 
                            p Chính Sách Shopi Connector
                    .col-lg-6
                        .policy-details-title 
                            p Tỷ lệ hoa hồng lên đến 25%. Không giới hạn mức thu nhập bạn có thể kiếm được
                            a(href="") Xem thêm chi tiết.
            .policy-rankings 
                table.table
                    tr.table-content
                        th.table-content-title Connector
                        th.table-content-title Basic
                        th.table-content-title Gold
                        th.table-content-title Diamond
                        th.table-content-title Platinum
                    tr.table-content
                        td.table-content-details Mức thưởng
                        td.table-content-details 10%
                        td.table-content-details 15%
                        td.table-content-details 20%
                        td.table-content-details 25%
                    tr.table-content
                        td.table-content-details Số Người Đã Giới Thiệu 
                        td.table-content-details 
                        td.table-content-details 300
                        td.table-content-details 500 
                        td.table-content-details 700
                    tr.table-content
                        td.table-content-details Doanh Thu Click / Tháng
                        td.table-content-details 
                        td.table-content-details 200.000.000
                        td.table-content-details 500.000.000
                        td.table-content-details 700.000.000
    section.program 
            .container.program-title
                    p.title Chương trình 
                    h2.heading2 SHOPDI CHIÊU ĐÃI NGƯỜI DÙNG NHIỀU CHƯƠNG TRÌNH HẤP DẪN
                    p.desc ĐƯỢC CẬP NHẬT THƯỜNG XUYÊN
                    .program-title-images 
                        img(src="./assets/images/rewards.png", alt="cup")
            .container.program-tabs 
                    .tabs-wrapper
                        .tab
                            .tab-list
                                .tab-item.active(data-tab='1') &Dstrok;&#x1B0;&#x1A1;&#x300;ng &Dstrok;ua Shopdi Connector
                                .tab-item(data-tab='2') Tha&#x301;nh Ch&ocirc;&#x301;t &Dstrok;&#x1A1;n
                                .tab-item(data-tab='3') S&#x1B0;&#x323; Ki&ecirc;&#x323;n Tha&#x301;ng 7
                            .tab-wrapper
                                .tab-content.active(data-tab='1')
                                    h3.post-title
                                        | &Dstrok;&#x1B0;&#x1EDD;ng &dstrok;ua Shopdi Connector &dstrok;&#x1B0;&#x1EE3;c c&#x1EAD;p nh&#x1EAD;t m&#x1ED7;i th&aacute;ng. H&atilde;y c&ugrave;ng nh&igrave;n l&#x1EA1;i c&aacute;c tay &dstrok;ua Shopdi Connector giai &dstrok;o&#x1EA1;n 1/9 - 30/9/2022 nh&eacute;!
                                    table.table
                                        tr.table-content
                                            .table-content-titleSpecial
                                                .titleSpecial-flexx Ha&#x323;ng
                                                .titleSpecial-flexx Ng&#x1B0;&#x1A1;&#x300;i Tham Gia
                                                .titleSpecial-flexx Ph&acirc;&#x300;n Th&#x1B0;&#x1A1;&#x309;ng
                                        tr.table-content
                                            td.table-content-details.borders
                                                .details-images.special
                                                    img(src='./assets/images/Rank1.png' alt='')
                                            td.table-content-details.borders
                                                .details-content
                                                    p.font-weight @user123
                                                    p 2.200.000 shopdi
                                            td.table-content-details.borders
                                                p Iphone 14 Pro Max
                                        tr.table-content
                                            td.table-content-details
                                                .details-images
                                                    img(src='./assets/images/Rank2.png' alt='')
                                            td.table-content-details
                                                .details-content
                                                    p.font-weight @user123
                                                    p 2.100.000 shopdi
                                            td.table-content-details
                                                    p Iphone 14 Pro 
                                        tr.table-content
                                            td.table-content-details
                                                .details-images
                                                    img(src='./assets/images/Rank3.png' alt='')
                                            td.table-content-details
                                                .details-content
                                                    p.font-weight @user123
                                                    p 2.000.000 shopdi
                                            td.table-content-details
                                                .details-content
                                                    p Iphone 14  
                                        tr.table-content
                                            td.table-content-details
                                                .details-images.special
                                                    img(src='./assets/images/number4.png' alt='')
                                            td.table-content-details
                                                .details-content
                                                    p.font-weight @user123
                                                    p 1.900.000 shopdi
                                            td.table-content-details
                                                p 8.000.000 VND
                                        tr.table-content
                                            td.table-content-details
                                                .details-images.special
                                                    img(src='./assets/images/number5.png' alt='')
                                            td.table-content-details
                                                .details-content
                                                    p.font-weight @user123
                                                    p 1.800.000 shopdi
                                            td.table-content-details
                                                p 8.000 VND
                                        tr.table-content
                                            td.table-content-details
                                                .details-images.special
                                                    img(src='./assets/images/number6.png' alt='')
                                            td.table-content-details
                                                .details-content
                                                    p.font-weight @user123
                                                    p 1.700.000 shopdi
                                            td.table-content-details
                                                    p 8.00000 VND
                                        tr.table-content
                                            td.table-content-details
                                                .details-images.special
                                                    img(src='./assets/images/number7.png' alt='')
                                            td.table-content-details
                                                .details-content
                                                    p.font-weight @user123
                                                    p 1.600.000 shopdi
                                            td.table-content-details
                                                        p 9.00000 VND
                                        tr.table-content
                                            td.table-content-details
                                                .details-images.special
                                                    img(src='./assets/images/number8.png' alt='')
                                            td.table-content-details
                                                .details-content
                                                    p.font-weight @user123
                                                    p 1.500.000 shopdi
                                            td.table-content-details
                                                    p 8.00121212000 VND
                                        tr.table-content
                                            td.table-content-details
                                                .details-images.special
                                                    img(src='./assets/images/number9.png' alt='')
                                            td.table-content-details
                                                .details-content
                                                    p.font-weight @user123
                                                    p 1.400.000 shopdi
                                            td.table-content-details
                                                    p 2.000 VND
                                        tr.table-content
                                            td.table-content-details
                                                .details-images.special
                                                    img(src='./assets/images/number10.png' alt='')
                                            td.table-content-details
                                                .details-content
                                                    p.font-weight @user123
                                                    p 1.30.000 shopdi
                                            td.table-content-details Iphone 4G
                                .tab-content(data-tab='2')
                                    
                                        .container
                                            table.table
                                                tr.table-content
                                                    th.table-content-title Ha&#x323;ng
                                                    th.table-content-title Ng&#x1B0;&#x1A1;&#x300;i Tham Gia
                                                    th.table-content-title Ph&acirc;&#x300;n Th&#x1B0;&#x1A1;&#x309;ng
                                                tr.table-content
                                                    td.table-content-details
                                                        .details-images
                                                            img(src='./img/number2.png' alt='')
                                                    td.table-content-details
                                                        .details-content
                                                        p @user123
                                                        p 2.100.000 shopdi
                                                    td.table-content-details
                                                        p Iphone 14 Pro 
                                                tr.table-content
                                                    td.table-content-details
                                                        .details-images
                                                            img(src='./img/number4.png' alt='')
                                                    td.table-content-details
                                                        .details-content
                                                            p @user123
                                                            p 1.900.000 shopdi
                                                    td.table-content-details
                                                        p 8.000.000 VND
                                                tr.table-content
                                                    td.table-content-details
                                                        .details-images
                                                            img(src='./assets/images/number6.png' alt='')
                                                    td.table-content-details
                                                        .details-content
                                                            p @user123
                                                            p 1.700.000 shopdi
                                                    td.table-content-details
                                                            p 8.00000 VND
                                                tr.table-content
                                                    td.table-content-details
                                                        .details-images
                                                            img(src='./img/number7.png' alt='')
                                                    td.table-content-details
                                                        .details-content
                                                            p @user123
                                                            p 1.600.000 shopdi
                                                    td.table-content-details
                                                        p 9.00000 VND
                                                tr.table-content
                                                    td.table-content-details
                                                        .details-images
                                                            img(src='./img/number8.png' alt='')
                                                    td.table-content-details
                                                        .details-content
                                                            p @user123
                                                            p 1.500.000 shopdi
                                                    td.table-content-details
                                                        p 8.00121212000 VND
                                                tr.table-content
                                                    td.table-content-details
                                                        .details-images
                                                            img(src='./img/number9.png' alt='')
                                                    td.table-content-details
                                                        .details-content
                                                            p @user123
                                                            p 1.400.000 shopdi
                                                    td.table-content-details
                                                        p 2.000 VND
                                                tr.table-content
                                                    td.table-content-details
                                                        .details-images
                                                            img(src='./img/number10.png' alt='')
                                                    td.table-content-details
                                                        .details-content
                                                            p @user123
                                                                p 1.30.000 shopdi
                                                td.table-content-details Iphone 4G
                                .tab-content(data-tab='3')
                                
                                        .container
                                            table.table
                                                tr.table-content
                                                    th.table-content-title Ha&#x323;ng
                                                    th.table-content-title Ng&#x1B0;&#x1A1;&#x300;i Tham Gia
                                                    th.table-content-title Ph&acirc;&#x300;n Th&#x1B0;&#x1A1;&#x309;ng
                                                tr.table-content
                                                    td.table-content-details
                                                        .details-images
                                                            img(src='./img/number7.png' alt='')
                                                    td.table-content-details
                                                        .details-content
                                                            p @user123
                                                            p 1.600.000 shopdi
                                                    td.table-content-details
                                                            p 9.00000 VND
                                                tr.table-content
                                                    td.table-content-details
                                                        .details-images
                                                            img(src='./img/number8.png' alt='')
                                                    td.table-content-details
                                                        .details-content
                                                            p @user123
                                                            p 1.500.000 shopdi
                                                    td.table-content-details
                                                        p 8.00121212000 VND
                                                tr.table-content
                                                    td.table-content-details
                                                        .details-images
                                                            img(src='./img/number9.png' alt='')
                                                    td.table-content-details
                                                        .details-content
                                                            p @user123
                                                            p 1.400.000 shopdi
                                                    td.table-content-details
                                                        p 2.000 VND
                                                tr.table-content
                                                    td.table-content-details
                                                        .details-images
                                                            img(src='./img/number10.png' alt='')
                                                    td.table-content-details
                                                        .details-content
                                                            p @user123
                                                            p 1.30.000 shopdi
                                                    td.table-content-details 
                                                            p Iphone 4G
                    .tabs-end 
                        .container 
                            p ...
            .program-discount
                .discount-title
                    .container
                        p.title Ưu Đãi Hấp Dẫn Tham Gia Ngay
                .discount-card
                    .container
                        .row 
                            each item in [1,2]
                                .col-6
                                  +CardComponent({ 
                                    src: './assets/images/bg-auth.png', 
                                    alt: 'Shopdi', 
                                    title: 'SHOPDI CHÀO BẠN MỚI - TẢI APP NHẬN SHOPDIXU! ', 
                                    text: 'Số lượng có hạn! Bạn mới gia nhập Shopdi nhận ngay 15k Shopdi Xu (tương đương 15k) khi hoàn thiện thông tin cá nhân tại tài khoản Shopdi.', 
                                    date: 'Ngày hết hạn: 30/12/2022', 
                                    link: 'Xem chi tiết'})
    section.qanda
        .qanda-content 
            .container
                .row 
                    .col-lg-7.col-md.col-sm
                        .qanda-content-title 
                            p.title1 Q & A
                            h2.title2 Câu hỏi thường gặp 
                            p.title3 Bạn có câu hỏi nào khác? Hãy truy cập trung tâm <br> hỗ trợ của Shopdi hoặc gởi tin nhắn phản hổi trực tiếp 
                                span.title4 tại đây 
                    .col-lg-5.col-md.col-sm
                        .qanda-content-arcodion 
                            .arcodion-header 
                                .content 
                                    p.title5 01
                                    p.title6 Chương trình Shopdi Connect là gì
                                img.plus(src="./assets/images/plus.png", alt="alt")
                                img.minus(src="./assets/images/minus.png", alt="alt")
                            .arcodion-content
                                p.title3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, cum.
                        .qanda-content-arcodion 
                            .arcodion-header 
                                .content 
                                    p.title5 02 
                                    p.title6 Điều kiện để trở thành một connector là gì
                                img.plus(src="./assets/images/plus.png", alt="alt")
                                img.minus(src="./assets/images/minus.png", alt="alt")
                            .arcodion-content
                                p.title3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, cum.
                        .qanda-content-arcodion 
                            .arcodion-header 
                                .content 
                                    p.title5 03
                                    p.title6 Làm thế nào để kiếm mức thưởng 700 triệu/tháng?
                                img.plus(src="./assets/images/plus.png", alt="alt")
                                img.minus(src="./assets/images/minus.png", alt="alt")
                            .arcodion-content
                                p.title3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, cum.
    section.download 
        .container 
            .row 
                .col-lg-5.col-md.col-sm.download-details 
                    .download-details-images 
                        img(src="./assets/images/iphone12pro.png", alt="")
                .col-lg-7.col-md.col-sm.dowload-details 
                    .download-details-content 
                        .content-title 
                            p.title Tải Xuống 
                            h2.title1 LAN TỎA GIÁ TRỊ THỰC ĐẾN CỘNG ĐỒNG CỦA BẠN 
                            p.title2 Giới thiệu bạn bè, nhận thưởng hấp dẫn và lan tỏa giá trị thực đến cộng đồng của bạn với các sản phẩm chất lượng tại Shopdi
                        .content-app 
                            .content-app-button
                                .img
                                    img(src="./assets/images/ggplay.png" alt="")
                                .content
                                    p.title3 Get it on
                                    span.title4 Google Play
                            .content-app-button
                                .img
                                    img(src="./assets/images/apple.png" alt="")
                                .content
                                    p.title3 Download on the
                                    span.title4 App Store

                    
                    
                    
                        
            
                

