extends includes/layouts/Layout.pug

block pages
    .policy 
        .container 
            .policy-details 
                .row 
                    .col-lg-6
                        .policy-details-title 
                            p Chính Sách 
                            p Chính Sách Shopi Connector
                    .col-lg-6
                        .policy-details-title 
                            p Tỷ lệ hoa hồng lên đến 25%. Không giới hạn mức thu nhập bạn có thể kiếm được
                            a(href="") Xem thêm chi tiết.
            .policy-rankings 
                table.table
                    tr.table-content
                        th.table-content-title Connector
                        th.table-content-title Basic
                        th.table-content-title Gold
                        th.table-content-title Diamond
                        th.table-content-title Platinum
                    tr.table-content
                        td.table-content-details Mức thưởng
                        td.table-content-details 10%
                        td.table-content-details 15%
                        td.table-content-details 20%
                        td.table-content-details 25%
                    tr.table-content
                        td.table-content-details Số Người Đã Giới Thiệu 
                        td.table-content-details 
                        td.table-content-details 300
                        td.table-content-details 500 
                        td.table-content-details 700
                    tr.table-content
                        td.table-content-details Doanh Thu Click / Tháng
                        td.table-content-details 
                        td.table-content-details 200.000.000
                        td.table-content-details 500.000.000
                        td.table-content-details 700.000.000