extends includes/layouts/Layout.pug

block pages
    .program 
        .container.program-title
                p.title Chương trình 
                h2.heading2 SHOPDI CHIÊU ĐÃI NGƯỜI DÙNG NHIỀU CHƯƠNG TRÌNH HẤP DẪN
                p.desc ĐƯỢC CẬP NHẬT THƯỜNG XUYÊN
                .program-title-images 
                    img(src="./assets/images/rewards.png", alt="cup")
        .container.program-tabs 
                 .tabs-wrapper
                    .tab
                        .tab-list
                            .tab-item.active(data-tab='1') &Dstrok;&#x1B0;&#x1A1;&#x300;ng &Dstrok;ua Shopdi Connector
                            .tab-item(data-tab='2') Tha&#x301;nh Ch&ocirc;&#x301;t &Dstrok;&#x1A1;n
                            .tab-item(data-tab='3') S&#x1B0;&#x323; Ki&ecirc;&#x323;n Tha&#x301;ng 7
                        .tab-wrapper
                            .tab-content.active(data-tab='1')
                                h3.post-title
                                    | &Dstrok;&#x1B0;&#x1EDD;ng &dstrok;ua Shopdi Connector &dstrok;&#x1B0;&#x1EE3;c c&#x1EAD;p nh&#x1EAD;t m&#x1ED7;i th&aacute;ng. H&atilde;y c&ugrave;ng nh&igrave;n l&#x1EA1;i c&aacute;c tay &dstrok;ua Shopdi Connector giai &dstrok;o&#x1EA1;n 1/9 - 30/9/2022 nh&eacute;!
                                table.table
                                    tr.table-content
                                        .table-content-titleSpecial
                                            .titleSpecial-flexx Ha&#x323;ng
                                            .titleSpecial-flexx Ng&#x1B0;&#x1A1;&#x300;i Tham Gia
                                            .titleSpecial-flexx Ph&acirc;&#x300;n Th&#x1B0;&#x1A1;&#x309;ng
                                    tr.table-content
                                        td.table-content-details.borders
                                            .details-images.special
                                                img(src='./assets/images/Rank1.png' alt='')
                                        td.table-content-details.borders
                                            .details-content
                                                p.font-weight @user123
                                                p 2.200.000 shopdi
                                        td.table-content-details.borders
                                            p Iphone 14 Pro Max
                                    tr.table-content
                                        td.table-content-details
                                            .details-images
                                                img(src='./assets/images/Rank2.png' alt='')
                                        td.table-content-details
                                            .details-content
                                                p.font-weight @user123
                                                p 2.100.000 shopdi
                                        td.table-content-details
                                                p Iphone 14 Pro 
                                    tr.table-content
                                        td.table-content-details
                                            .details-images
                                                img(src='./assets/images/Rank3.png' alt='')
                                        td.table-content-details
                                            .details-content
                                                p.font-weight @user123
                                                p 2.000.000 shopdi
                                        td.table-content-details
                                            .details-content
                                                p Iphone 14  
                                    tr.table-content
                                        td.table-content-details
                                            .details-images.special
                                                img(src='./assets/images/number4.png' alt='')
                                        td.table-content-details
                                            .details-content
                                                p.font-weight @user123
                                                p 1.900.000 shopdi
                                        td.table-content-details
                                            p 8.000.000 VND
                                    tr.table-content
                                        td.table-content-details
                                            .details-images.special
                                                img(src='./assets/images/number5.png' alt='')
                                        td.table-content-details
                                            .details-content
                                                p.font-weight @user123
                                                p 1.800.000 shopdi
                                        td.table-content-details
                                            p 8.000 VND
                                    tr.table-content
                                        td.table-content-details
                                            .details-images.special
                                                img(src='./assets/images/number6.png' alt='')
                                        td.table-content-details
                                            .details-content
                                                p.font-weight @user123
                                                p 1.700.000 shopdi
                                        td.table-content-details
                                                p 8.00000 VND
                                    tr.table-content
                                        td.table-content-details
                                            .details-images.special
                                                img(src='./assets/images/number7.png' alt='')
                                        td.table-content-details
                                            .details-content
                                                p.font-weight @user123
                                                p 1.600.000 shopdi
                                        td.table-content-details
                                                    p 9.00000 VND
                                    tr.table-content
                                        td.table-content-details
                                            .details-images.special
                                                img(src='./assets/images/number8.png' alt='')
                                        td.table-content-details
                                            .details-content
                                                p.font-weight @user123
                                                p 1.500.000 shopdi
                                        td.table-content-details
                                                p 8.00121212000 VND
                                    tr.table-content
                                        td.table-content-details
                                            .details-images.special
                                                img(src='./assets/images/number9.png' alt='')
                                        td.table-content-details
                                            .details-content
                                                p.font-weight @user123
                                                p 1.400.000 shopdi
                                        td.table-content-details
                                                p 2.000 VND
                                    tr.table-content
                                        td.table-content-details
                                            .details-images.special
                                                img(src='./assets/images/number10.png' alt='')
                                        td.table-content-details
                                            .details-content
                                                p.font-weight @user123
                                                p 1.30.000 shopdi
                                        td.table-content-details Iphone 4G
                            .tab-content(data-tab='2')
                                
                                    .container
                                        table.table
                                            tr.table-content
                                                th.table-content-title Ha&#x323;ng
                                                th.table-content-title Ng&#x1B0;&#x1A1;&#x300;i Tham Gia
                                                th.table-content-title Ph&acirc;&#x300;n Th&#x1B0;&#x1A1;&#x309;ng
                                            tr.table-content
                                                td.table-content-details
                                                    .details-images
                                                        img(src='./img/number2.png' alt='')
                                                td.table-content-details
                                                    .details-content
                                                    p @user123
                                                    p 2.100.000 shopdi
                                                td.table-content-details
                                                    p Iphone 14 Pro 
                                            tr.table-content
                                                td.table-content-details
                                                    .details-images
                                                        img(src='./img/number4.png' alt='')
                                                td.table-content-details
                                                    .details-content
                                                        p @user123
                                                        p 1.900.000 shopdi
                                                td.table-content-details
                                                    p 8.000.000 VND
                                            tr.table-content
                                                td.table-content-details
                                                    .details-images
                                                        img(src='./assets/images/number6.png' alt='')
                                                td.table-content-details
                                                    .details-content
                                                        p @user123
                                                        p 1.700.000 shopdi
                                                td.table-content-details
                                                        p 8.00000 VND
                                            tr.table-content
                                                td.table-content-details
                                                    .details-images
                                                        img(src='./img/number7.png' alt='')
                                                td.table-content-details
                                                    .details-content
                                                        p @user123
                                                        p 1.600.000 shopdi
                                                td.table-content-details
                                                    p 9.00000 VND
                                            tr.table-content
                                                td.table-content-details
                                                    .details-images
                                                        img(src='./img/number8.png' alt='')
                                                td.table-content-details
                                                    .details-content
                                                        p @user123
                                                        p 1.500.000 shopdi
                                                td.table-content-details
                                                     p 8.00121212000 VND
                                            tr.table-content
                                                td.table-content-details
                                                    .details-images
                                                        img(src='./img/number9.png' alt='')
                                                td.table-content-details
                                                    .details-content
                                                        p @user123
                                                        p 1.400.000 shopdi
                                                td.table-content-details
                                                    p 2.000 VND
                                            tr.table-content
                                                td.table-content-details
                                                    .details-images
                                                        img(src='./img/number10.png' alt='')
                                                td.table-content-details
                                                    .details-content
                                                        p @user123
                                                            p 1.30.000 shopdi
                                            td.table-content-details Iphone 4G
                            .tab-content(data-tab='3')
                               
                                    .container
                                        table.table
                                            tr.table-content
                                                th.table-content-title Ha&#x323;ng
                                                th.table-content-title Ng&#x1B0;&#x1A1;&#x300;i Tham Gia
                                                th.table-content-title Ph&acirc;&#x300;n Th&#x1B0;&#x1A1;&#x309;ng
                                            tr.table-content
                                                td.table-content-details
                                                    .details-images
                                                        img(src='./img/number7.png' alt='')
                                                td.table-content-details
                                                    .details-content
                                                        p @user123
                                                        p 1.600.000 shopdi
                                                td.table-content-details
                                                        p 9.00000 VND
                                            tr.table-content
                                                td.table-content-details
                                                    .details-images
                                                        img(src='./img/number8.png' alt='')
                                                td.table-content-details
                                                    .details-content
                                                        p @user123
                                                        p 1.500.000 shopdi
                                                td.table-content-details
                                                    p 8.00121212000 VND
                                            tr.table-content
                                                td.table-content-details
                                                    .details-images
                                                        img(src='./img/number9.png' alt='')
                                                td.table-content-details
                                                    .details-content
                                                        p @user123
                                                        p 1.400.000 shopdi
                                                td.table-content-details
                                                    p 2.000 VND
                                            tr.table-content
                                                td.table-content-details
                                                    .details-images
                                                        img(src='./img/number10.png' alt='')
                                                td.table-content-details
                                                    .details-content
                                                        p @user123
                                                        p 1.30.000 shopdi
                                                td.table-content-details 
                                                        p Iphone 4G
                 .tabs-end 
                    .container 
                        p ...
        .program-discount
            .discount-title
                .container
                    p.title Ưu Đãi Hấp Dẫn Tham Gia Ngay
            .discount-card
                .container
                    .row 
                        each item in [1,2]
                            .col-6
                              
