extends includes/layouts/Layout.pug

block pages
    .qanda
        .qanda-content 
            .container
                .row 
                    .col-lg-7.col-md.col-sm
                        .qanda-content-title 
                            p.title1 Q & A
                            h2.title2 Câu hỏi thường gặp 
                            p.title3 Bạn có câu hỏi nào khác? Hãy truy cập trung tâm <br> hỗ trợ của Shopdi hoặc gởi tin nhắn phản hổi trực tiếp 
                                span.title4 tại đây 
                    .col-lg-5.col-md.col-sm
                        .qanda-content-arcodion 
                            .arcodion-header 
                                .content 
                                    p.title5 01
                                    p.title6 Chương trình Shopdi Connect là gì
                                img.plus(src="./assets/images/plus.png", alt="alt")
                                img.minus(src="./assets/images/minus.png", alt="alt")
                            .arcodion-content
                                p.title3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, cum.
                        .qanda-content-arcodion 
                            .arcodion-header 
                                .content 
                                    p.title5 02 
                                    p.title6 Điều kiện để trở thành một connector là gì
                                img.plus(src="./assets/images/plus.png", alt="alt")
                                img.minus(src="./assets/images/minus.png", alt="alt")
                            .arcodion-content
                                p.title3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, cum.
                        .qanda-content-arcodion 
                            .arcodion-header 
                                .content 
                                    p.title5 03
                                    p.title6 Làm thế nào để kiếm mức thưởng 700 triệu/tháng?
                                img.plus(src="./assets/images/plus.png", alt="alt")
                                img.minus(src="./assets/images/minus.png", alt="alt")
                            .arcodion-content
                                p.title3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, cum.
                                