extends includes/layouts/Layout.pug

block pages
    .register 
        .register-info 
            .register-info-title 
                .container
                    h1 ĐĂNG KÝ
                    p Nhận Thưởng với 3 bước vô cùng dễ dàng.
            .register-intro 
                .container 
                    .row 
                        .col-lg-4.col-md.col-sm
                            .register-intro-card.one
                                .card-badge
                                p.numberLarge 01
                                .card-content 
                              
                                    p Đăng ký để trở thành Shopdi Connector
                                    
                                    .card-content-list 
                                         img(src='./assets/images/bullet.png')
                                         p Truy Cập 
                                            span APP Store
                                            | Hoặc 
                                            span CH Play
                                            |  &dstrok;&#x1EC3;
                                            | download
                                            |&#x1EE9;ng d&#x1EE5;ng Shopdi
                                    .card-content-list 
                                         img(src='./assets/images/bullet.png')
                                         p  Truy c&#x1EAD;p 
                                            span Dashboard Shopdi Connector
                                            |  &dstrok;&#x1EC3; nh&#x1EAD;n m&atilde; gi&#x1EDB;i
                                            | thi&#x1EC7;u
                                            | v&agrave; theo d&otilde;i
                                            | ti&#x1EBF;n &dstrok;&#x1ED9; c&aacute;c ch&#x1B0;&#x1A1;ng tr&igrave;nh.
                        .col-lg-4.col-md.col-sm
                            .register-intro-card.two 
                                .card-badge
                                p.numberLarge 02
                                .card-content 
                              
                                    p Sao chép chia sẻ đường link giới thiệu với bạn
                                    
                                    .card-content-list 
                                        p Copy ID mã giới thiệu , Link Giới Thiệu . Hoặc chia sẻ mã QR của bạn đến người được giới thiệu.
                                  
                        .col-lg-4.col-md.col-sm
                                .register-intro-card.three
                                    .card-badge
                                    p.numberLarge 03
                                    .card-content 
                                
                                        p Nhận Thưởng lên đến 25%
                                        
                                        .card-content-list 
                                            p
                                                | Khi ng&#x1B0;&#x1EDD;i d&ugrave;ng t&#x1EA1;o t&agrave;i kho&#x1EA3;n b&#x1EB1;ng li&ecirc;n k&#x1EBF;t gi&#x1EDB;i thi&#x1EC7;u c&#x1EE7;a b&#x1EA1;n v&agrave; s&#x1EED; d&#x1EE5;ng xu &dstrok;&#x1EC3; click xem gi&aacute; b&iacute; m&#x1EAD;t/gi&aacute; gi&#x1EA3;m kh&ocirc;ng gi&#x1EDB;i
                                                | h&#x1EA1;n, b&#x1EA1;n s&#x1EBD; nh&#x1EAD;n &dstrok;&#x1B0;&#x1EE3;c th&#x1B0;&#x1EDF;ng t&#x1EEB; m&#x1ED7;i giao d&#x1ECB;ch h&#x1ECD; th&#x1EF1;c hi&#x1EC7;n. B&#x1EA1;n c&oacute; th&#x1EC3; chia s&#x1EBB; ph&#x1EA7;n
                                                | tr&abreve;m
                                                | l&#x1EE3;i nhu&#x1EAD;n v&#x1EDB;i ng&#x1B0;&#x1EDD;i &dstrok;&#x1B0;&#x1EE3;c gi&#x1EDB;i
                                                | thi&#x1EC7;u.
